<script src="https://npmcdn.com/vue/dist/vue.js"></script>
<link rel="stylesheet" href="styles.css">
<div id="exercise">
  <!-- 1) Start the Effect with the Button. The Effect should alternate the "highlight" or "shrink" class on each new setInterval tick (attach respective class to the div with id "effect" below) -->
  <div>
    <button @click="atth = !atth">Start Effect</button>
    <div :class="startEffect"  id="effect"></div>
  </div>
  <!-- 2) Create a couple of CSS classes and attach them via the array syntax -->
  <div class="highlight" id="effect" :class="[{highlight:atth}, {shrink:atth}]">I got no class :(</div>
  <!-- 3) Let the user enter a class (create some example classes)
  and attach it -->
  <div>
    <input type="text"  v-model='color'  >
    <div  id="effect" :class="color"></div>
  </div>
  <!-- 4) Let the user enter a class and enter true/ false for
  another class (create some example classes) and attach the classes -->
  <div>
    <input v-model="blue" type="text">
    <input v-model="green" type="text">
    <div  id="effect" :class="[{blue:blue = !atth}, green]" ></div>
  </div>
  <!-- 5) Repeat 3) but now with values for styles (instead of class names).
  Attach the respective styles.  -->
  <div>
    <input type="text">
    <div id="effect" :style="[color, {backgroundColor:backgroundColor}]" ></div>
  </div>
  <!-- 6) Create a simple progress bar with
   setInterval and style bindings. Start it by hitting the below button. -->
  <div>
<p>
  <button @click="move" type="button" name="button">Alert ME</button>

</p>
    <div class="myProgress">
      <div :style="{width:width+'%'}" class="myBar">
       {{ width }} %
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="app.js">

</script>
